@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  user-select: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  background: #080808;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  overflow: hidden;
}

.background-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: linear-gradient(160deg, #2b1329 0%, #040205 50%, #080808 100%);
  top: 0;
  left: 0;
  z-index: -1;
  animation: backgroundFade ease infinite;
}

p {
  line-height: 25px;
}

/* @keyframes backgroundFade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

aside {
  background-image: url(images/minecraft1.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  animation: moveBackground ease infinite;
}

.background-fade,
aside {
  animation-duration: 15s;
}

/* @keyframes moveBackground {
  0%,
  100% {
    background-position-x: 0;
    filter: brightness(0);
  }

  50% {
    background-position-x: 100%;
    filter: brightness(100%);
  }
} */

main {
  display: flex;
  flex-direction: column;
  padding: 7rem 5rem 7rem 0;
  align-items: flex-end;
  justify-content: space-between;
  row-gap: 2.5rem;
}

form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 4.5rem;
}

form p {
  margin-bottom: 55px;
}

div {
  text-align: right;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  transition: 0.4s ease;
  color: white;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background: yellow;
  bottom: 0;
  right: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

h1:hover::after {
  visibility: visible;
  width: 100%;
}

h1:hover {
  color: #f9d619;
  letter-spacing: 5px;
}

input[type="text"] {
  all: unset;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-bottom-color: white;
  border-radius: 5px;
  background: #101010;
  opacity: 0.5;
  transition: 0.4s ease;
  font-size: 18px;
  text-align: left;
}

p:hover {
  color: white;
}

#name-label {
  display: flex;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="text"]:hover {
  border-bottom-color: #ffbcf7;
  opacity: 1;
}

input[type="text"].valid {
  border-bottom-color: rgb(174, 204, 66);
  opacity: 1;
  color: rgb(174, 204, 66);
}

.valid {
  color: rgb(174, 204, 66);
}

.character-selection {
  opacity: 1;
  transform: translateX(0);
  transition: all 4 ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 5px;
}

input[type="radio"] {
  display: none;
}

.character {
  opacity: 0.6;
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.character img {
  width: 100%;
  transform: translateY(-15px);
}

input[type="radio"]:checked + .character {
  opacity: 1;
  border-radius: 20px;
  border-color: rgb(174, 204, 66);
  background-color: rgba(174, 204, 66, 0.2);
}

.character:hover {
  opacity: 1;
  border-radius: 20px;
  border-color: rgb(182, 182, 209);
  background-color: rgb(0, 0, 0, 0.5);
}

.character:hover img,
input[type="radio"]:checked + .character img {
  width: 125%;
}

button {
  all: unset;
  text-align: center;
  background: white;
  padding: 0.6rem 0;
  width: 30%;
  border-radius: 5px;
  color: black;
  border: 2px solid white;
  transition: 0.4s ease;
  cursor: pointer;
  filter: unset;
}

button:not(.disabled) {
  animation: unlocked 0.6s ease;
}

@keyframes unlocked {
  0%,
  100% {
    transform: rotate(0deg);
    background-color: white;
    border-color: white;
  }

  25%,
  75% {
    transform: rotate(15deg);
    background-color: rgb(174, 204, 66);
    border-color: rgb(174, 204, 66);
  }

  50% {
    transform: rotate(-15deg);
  }
}

button.disabled {
  pointer-events: none;
  filter: brightness(65%);
}

button:hover {
  background: none;
  color: white;
  width: 45%;
}

.character::after {
  position: absolute;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  background: #191919;
  top: -50px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
}

.character:nth-of-type(1)::after {
  content: "Steve";
}

.character:nth-of-type(2)::after {
  content: "Esqueleto Whiter";
  width: 150px;
}

.character:nth-of-type(3)::after {
  content: "Esqueleto";
}

.character:nth-of-type(4)::after {
  content: "Dragão-do-fim";
  width: 150px;
}

.character:nth-of-type(5)::after {
  content: "Creeper";
}

.character:nth-of-type(6)::after {
  content: "Zumbi";
}

.character:nth-of-type(7)::after {
  content: "Piglin";
}
.character:nth-of-type(8)::after {
  content: "Lich";
}

.character:hover::after {
  opacity: 1;
}
