@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*::before,
*::after {
  z-index: -1;
}

*,
*::before,
*::after {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}

body {
  background-color: #1a202b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  width: 100%;
  height: 50vh;
  background: #1e243c;
  position: absolute;
  bottom: 0;
  left: 0;
}

body::after {
  content: "";
  width: 100%;
  height: 40vh;
  background: #3c66b1;
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background: #fafafa;
  height: 75vh;
  min-width: 1000px;
  border-radius: 5px;
  padding: 40px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}
section .side-left,
section .side-right {
  border-radius: 5px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: brightness(40%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  background: #121212;
}
section .side-left h2,
section .side-right h2 {
  color: white;
  font-size: 40px;
}
section .side-left:hover,
section .side-right:hover {
  filter: brightness(80%);
}