@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  min-height: 100vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: darkmode 1s ease;
  background: #161616;
  color: #fff;
  font-size: 18px;
  background-image: url(images/minecraft14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

h1 {
  font-size: 80px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  height: 100vh !important;
}

h2 {
  padding: 10px 0;
  margin-top: 50px;
  border-bottom: 3px solid yellow;
  font-size: 35px;
}

.percentual {
  font-size: 50px;
  color: yellow;
}

h2:hover {
  transform: translateY(-15px);
}

h2:last-child {
  border-color: red;
}

h2:last-child .percentual {
  color: red;
}

.percentuais {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.character-icon {
  width: 25rem;
  height: 25rem;
}

.user-name {
  color: yellow;
}

.user-name:hover {
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: white;
  background-color: #121212;
  margin-top: 25px;
  text-align: center;
  padding: 1rem 3rem;
}

a:hover {
  color: #121212;
  background: white;
}
