.progress-bar {
  width: 99%;
}

body {
  min-height: 100vh;
  background: #161616;
  color: white;
  font-size: 20px;
  display: flex;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 15vh;
}

form {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "box box lb-3 lb-3 lb-6 lb-6"
    "lb-1 lb-1 lb-4 lb-4 lb-7 lb-7"
    "lb-2 lb-2 lb-5 lb-5 lb-8 lb-8";
  gap: 10px;
}

input[type="radio"]:checked + label {
  border-color: yellow;
  border-radius: 5px;
}

.lb {
  border: 3px solid transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.lb::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
}

.lb::after {
  position: absolute;
  left: -50%;
  bottom: 0;
  z-index: 12;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 20px;
  background: #121212;
  border-radius: 5px 25px 0 0;
  transition: 0.4s ease;
}

.lb:hover {
  border-radius: 10px;
  border-color: lightblue;
  transform: translateY(-5px);
}

.lb:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.lb:hover::after {
  left: 0;
}

.box {
  grid-area: box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.lb-1 {
  grid-area: lb-1;
  background-image: url(../../images/everbright.jpg);
}

.lb-1::after {
  content: "Everbright";
}

.lb-2 {
  grid-area: lb-2;
  background-image: url(../../images/everdawn.jpg);
}

.lb-2::after {
  content: "Everdawn";
}

.lb-3 {
  grid-area: lb-3;
  background-image: url(../../images/atum.png);
}

.lb-3::after {
  content: "Atum";
}

.lb-4 {
  grid-area: lb-4;
  background-image: url(../../images/mahou.jpg);
}

.lb-4::after {
  content: "Mahou Tsukai";
}

.lb-5 {
  grid-area: lb-5;
  background-image: url(../../images/erebus.png);
}

.lb-5::after {
  content: "Erebus";
}

.lb-6 {
  grid-area: lb-6;
  background-image: url(../../images/twilight-forest.jpg);
}

.lb-6::after {
  content: "Twiligh Forest";
}

.lb-7 {
  grid-area: lb-7;
  background-image: url(../../images/crystal.png);
}

.lb-7::after {
  content: "Crystal";
}

.lb-8 {
  grid-area: lb-8;
  background-image: url(../../images/undergarden.webp);
}

.lb-8::after {
  content: "Undergarden";
}
