.progress-bar {
  width: 30%;
}

body {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 15vh;
}

form {
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "box box lb-1 lb-1 lb-2 lb-3"
    "lb-4 lb-5 lb-1 lb-1 lb-2 lb-6"
    "lb-4 lb-7 lb-8 lb-9 lb-9 lb-9";
  gap: 10px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border-color: yellow;
  border-radius: 5px;
}

.lb {
  border: 5px solid transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.lb:hover {
  border-radius: 10px;
  border-color: lightblue;
  transform: translateY(-5px);
  filter: blur(1px) brightness(50%);
}

.box {
  grid-area: box;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.lb-1 {
  grid-area: lb-1;
  background-image: url(../../images/minecraft2.jpg);
}
.lb-2 {
  grid-area: lb-2;
  background-image: url(../../images/minecraft3.jpg);
}
.lb-3 {
  grid-area: lb-3;
  background-image: url(../../images/minecraft4.jpg);
}
.lb-4 {
  grid-area: lb-4;
  background-image: url(../../images/minecraft5.jpg);
}
.lb-5 {
  grid-area: lb-5;
  background-image: url(../../images/minecraft6.webp);
}
.lb-6 {
  grid-area: lb-6;
  background-image: url(../../images/minecraft7.jpg);
}
.lb-7 {
  grid-area: lb-7;
  background-image: url(../../images/minecraft8.jpg);
}
.lb-8 {
  grid-area: lb-8;
  background-image: url(../../images/minecraft9.jpg);
}
.lb-9 {
  grid-area: lb-9;
  background-image: url(../../images/minecraft10.jpg);
}
