@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #161616;
  color: white;
  font-size: 20px;
  display: grid;
  grid-template-columns: 35vw 65vw;
}

main {
  padding: 2rem 2rem 2rem 1rem;
}

aside {
  background-image: url(../../../images/minecraft10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  margin: 2.5rem 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-right: 10px;
  position: relative;
  width: fit-content;
}

h1::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background: yellow;
  bottom: -5px;
  left: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

h1:hover::after {
  visibility: visible;
  width: 100%;
}

h1:hover {
  color: yellow;
  letter-spacing: 2px;
}

input[type="radio"] {
  display: none;
}

form {
  margin-top: 30px;
  border-top: 3px solid lightblue;
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

label {
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

label:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

label::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
}

label:hover::before {
  left: 0;
}

input[type="radio"]:checked + label {
  background-color: rgb(0, 187, 254, 0.8);
}

.question {
  color: rgba(255, 255, 255, 0.6);
}

.question:hover {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 1rem;
}

.buttons button,
.buttons a {
  all: unset;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  background: #101010;
  display: flex;
  transition: 0.5s ease;
  opacity: 0.5;
}

.buttons button:hover,
.buttons a:hover {
  opacity: 1;
}

/* body::after {
  width: 80%;
  height: 90%;
  top: 5%;
  right: -20%;
  content: "";
  position: absolute;
  background-image: url(images/minecraft3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
  z-index: -1;
} */

/* p {
  line-height: 25px;
}

main {
  padding: 2rem;
  width: 30vw;
  border-radius: 10px;
  background: #121212;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: fit-content;
  margin-left: 10vw;
}

main h1 {
  border-bottom: 1px solid rgb(124, 178, 194);
  padding-bottom: 15px;
}



.alternatives {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  flex-direction: column;
}

.alternatives label {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.alternatives label::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(images/minecraft1.jfif);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 100%;
  z-index: 0;
  top: 0;
}

.alternatives label:hover {
  transform: translateY(-5px);
}

.alternatives label:hover::before {
  left: 0;
}

label span {
  width: 50px;
  height: 50px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
}

label p {
  z-index: 1;
}

input[type="radio"] {
  display: none;
}

aside {
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: 1rem;
}

.box {
  background: #121212;
  padding: 1rem;
  border-radius: 10px;
  width: 20vw;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 25px;
  width: 92px;
  transition: width 1s ease;
  justify-content: space-between;
}

.box * {
  z-index: 1;
}

.box::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(143, 143, 204);
  position: absolute;
  right: 100%;
  z-index: 0;
  top: 0;
}

.box:hover::before {
  right: 90%;
}

.player {
  display: flex;
  align-items: center;
  gap: 25px;
}

.box:hover {
  width: 300px;
}

.box img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #191919;
}

.box span {
  justify-self: flex-end;
} */
