.question-container .option:first-child {
  background-image: url(images/observer.png);
}

.question-container .option:nth-child(2) {
  background-image: url(images/dispenser.png);
}

.question-container .option:nth-child(3) {
  background-image: url(images/dropper.png);
}

.question-container .option:last-child {
  background-image: url(images/piston.png);
}
